PORT=5000
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=ecommerce_user
DB_USERNAME=root
DB_PASSWORD='Hello*124#'
# require('crypto').randomBytes(64).toString('hex')
JWT_SECRET=b17f82c4fcf4cbda14575ea92d7770fd10b5f87e90fd87026bc05a4ac2605b9b8ea94f84d352b9731b7a20271c8c58d8386a4374694d5d5ec7faa8085da4a3e5
JWT_EXPIRES_IN=90d
# SMSPoh
SMS_SERVICE_PROVIDER='SMSPOH'
SMSPOH_API_URL="https://smspoh.com/api/v2/send"
SMSPOH_TOKEN="Bearer DkdB5v2kKSqZ0p-dSf0Qo4AjjzhlK7AOwBSSjWdkxPq6eeIWhQn7iocwXXQRglKU"
# AWS
AWS_ACCESS_KEY_ID=AKIAYCHCRQ4Z45VG24JV
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=s3-ecommerce-web